li
    .courses-item.row(href='/{$id | url}')
        .course-form.col-sm-10
            h4
                span {$pagetitle}
            p Ближайший курс в Минске {$_pls['tv.nearDate']}
            a(href!="/{$_modx->makeUrl(5)}")
                span Расписание в других городах
            | {$_modx->runSnippet('!AjaxForm',[
            |                 'snippet' => 'FormIt',
            |                 'form' => '@FILE chunks/main/cursForm.html',
            |                 'hooks' => 'email',
            |                 'emailTo' => $_modx->config.MainEmail,
            |                 'emailCC' => $_modx->config.MainEmail,
            |                 'emailFrom' => 'admin@s9831.h6.modhost.pro',
            |                 'emailSubject' => 'Заявка на запись на курс Section',
            |                 'emailTpl' => 'SentCursTpl',
            |                 'validate' => 'phone:required',
            |                 'successMessage' => 'Ваше сообщение успешно отправлено!'])}
        .course-price.col-sm-2
            h3 {$_pls['tv.MinPrice']}
            ul
                li {$_pls['tv.Course_times']}
                li {$_pls['tv.Course_count']}
                li {$_pls['tv.Course_hours']}
