{extends 'file:templates/Base.html'} {block 'content'}
<!-- Section info-->
<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Академтранс</h2>
        <p>Образовательный центр, который уже 20 лет эффективно обучает водителей и специалистов автомобилистов. Мы даем знания необходимые для ежедневной работы и для повышения квалификации наших слушателей.</p>
        <h2>Наша цель</h2>
        <p>Мы даем слушателям актуальные знания, нужные в их ежедневной работе и помогаем развиваться и профессионально расти.</p>
      </div>
      <div class="col-sm-6"><a href="/assets/img/about/okompanii_page_img1.jpg" class="gallery"><img src="/assets/img/about/okompanii_page_img1.jpg" alt=""/></a></div>
    </div>
  </div>
</section>
<!-- Achievements-->
<section id="achievements">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6"><span>142</span>
        <p class="push">тысячи слушателей за 20 лет</p>
      </div>
      <div class="col-sm-3 col-xs-6"><span>7000</span>
        <p>слушателей в год проходят наши курсы</p>
      </div>
      <div class="col-sm-3 col-xs-6"><span>116</span>
        <p class="push">преподавателей в 16 центрах Беларуси</p>
      </div>
      <div class="col-sm-3 col-xs-6"><span>96</span>
        <p>специализированных семинара в год</p>
      </div>
    </div>
  </div>
</section>
<!-- Director-->
<section id="director">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-8"><img src="/assets/img/about/boss.jpg" alt="Директор"/></div>
      <div class="col-sm-8 col-xs-12">
        <div class="quote">
          <p>«Академтранс» эффективно обучает водителей и специалистов автомобилистов уже двадцать лет. За это время мы получили большой опыт в подготовке специалистов — знаем на что обратить внимание слушателей, как подать материал просто. Наши выпускники отлично разбираются в законаx, нормативных актах и документации и после курсов работают еще эффективнее.</p>
          <p>У нас работают опытные преподаватели — специалисты в таможенном деле перевозках и юриспруденции. Преподаватели следят за изменениями в законодательстве, разбираются в нюансах и умеют все это рассказать нашим слушателем так, чтобы получить максимальный эффект.</p>
          <p>Мы экономим время наших слушателей и стараемся оптимизировать учебный процесс так, чтобы ученики за минимальный срок получил и усвоил необходимые знания.</p>
        </div>
        <div class="signature">
          <h4>Андрей Мечеславович Бурак</h4>
          <p>директор</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Photos-->
<section id="photos">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6 col-xs-12 block2">
        <h2>Занятия в оборудованных<br/>классах</h2>
        <p>Наши аудитории хорошо оборудованы — наглядные пособия, проекторы, компьютеры, ксероксы и сканеры — у учеников есть все нужные материалы, слушатели могут сделать копии документов в учебном центре.</p><a href="/assets/img/about/okompanii_page_img3.jpg" class="gallery hidden-xs"><img src="/assets/img/about/okompanii_page_img3.jpg" alt=""/></a><a href="/assets/img/about/okompanii_page_img2.jpg" class="gallery visible-xs"><img src="/assets/img/about/okompanii_page_img2.jpg" alt=""/></a>
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-xs-12 block1"><a href="/assets/img/about/okompanii_page_img2.jpg" class="gallery hidden-xs"><img src="/assets/img/about/okompanii_page_img2.jpg" alt=""/></a>
        <p>Центры расположены в современных офисных зданиях — аудитории светлые и теплые, заниматься всегда комфортно.</p><a href="/assets/img/about/okompanii_page_img3.jpg" class="gallery visible-xs"><img src="/assets/img/about/okompanii_page_img3.jpg" alt=""/></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 block3"><a href="/assets/img/about/okompanii_page_img4.jpg" class="gallery"><img src="/assets/img/about/okompanii_page_img4.jpg" alt=""/></a></div>
      <div class="col-sm-5 block4">
        <div class="col-sm-12 col-xs-6"><a href="/assets/img/about/okompanii_page_img5.jpg" class="gallery"><img src="/assets/img/about/okompanii_page_img5.jpg" alt=""/></a></div>
        <div class="col-sm-12 col-xs-6"><a href="/assets/img/about/okompanii_page_img6.jpg" class="gallery"><img src="/assets/img/about/okompanii_page_img6.jpg" alt=""/></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 block5"><a href="/assets/img/about/okompanii_page_img7.jpg" class="gallery"><img src="/assets/img/about/okompanii_page_img7.jpg" alt=""/></a>
        <p class="p3">В перерывах между занятиями вы можете отдохнуть и обменяться опытом с коллегами, а также почитать литературу и ознакомиться с нашим пособием «Пассажирские перевозки»</p>
      </div>
      <div class="col-sm-4 block6"><a href="/assets/img/about/okompanii_page_img8.jpg" class="gallery"><img src="/assets/img/about/okompanii_page_img8.jpg" alt=""/></a></div>
      <div class="col-sm-4 block7"><a href="/assets/img/about/okompanii_page_img9.jpg" class="gallery"><img src="/assets/img/about/okompanii_page_img9.jpg" alt=""/></a></div>
    </div>
  </div>
</section>
<!-- reviews-->
<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Отзывы наших слушателей</h2><a href="#send-review"><span>Оставить отзыв</span></a>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="slider-reviews owl-carousel">
            {$_modx->runSnippet('!ecMessages',[
            'tpl' => 'Review.ecMessages',
            'threads' => 'resource-1,resource-25'])}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>{/block}