|{extends 'file:templates/Base.html'} {block 'content'}
// Section content
section#content
    .container
        .row
            .col-xs-12
                h2.title Способы оплаты
        .row.payway
            .col-sm-1.col-xs-3
                img(src='/assets/img/erip.jpg', alt='')
            .col-sm-11.col-xs-12.info-block
                .col-xs-12
                    h3 C помощью Системы "Расчет" (ЕРИП)
                .col-sm-8.col-xs-12.info
                    p 1. Электронными деньгами (Webmoney, Easypay, iPay, BelQI);
                    p 2. Платежной карточкой (интернет-банк, мобильный-банк, инфокиоск, банкомат, касса банка*);
                    p 3. Наличными (устройство cash-in, касса банка*).
                    p.bold Для проведения платежа необходимо
                    p 1.Выбрать последовательно пункты:
                    p.ind-1 Система «Расчет» (ЕРИП)
                    p.ind-2 г. Минск
                    p.ind-3 Образование и развитие
                    p.ind-4 Дополнительное образование и развитие
                    p.ind-4 Академтранс ЦПК — курсы
                    p 2. Ввести номер договора, ФИО и сумму платежа
                    p 3. Проверить корректность информации
                    p 4. Совершить платеж
                    br
                    p Нахождение услуги в дереве услуг системы «Расчет» (ЕРИП) в некоторых пунктах оплаты может отличаться от описанного выше. В связи с этим, в случае возникновения проблем с поиском услуги, предлагаем выполнить поиск по УНП: 190437354.
                .col-sm-4.col-xs-12.description
                    p Если Вы осуществляете платеж в кассе банка, пожалуйста, сообщите кассиру о необходимости проведения оплаты услуги «Академтранс ЦПК — курсы» через систему «Расчет» (ЕРИП), сообщите номер договора, ФИО и сумму платежа.
        .row.payway
            .col-sm-1.col-xs-3
                img(src='/assets/img/ipai.jpg', alt='')
            .col-sm-11.col-xs-12.info-block
                .col-xs-12
                    h3 iPay — оплата с баланса мобильного телефона
                .col-sm-8.col-xs-12.info
                    p
                        | Совершить платеж Вы можете из личного кабинета сайта iPay.by. Для входа в личный кабинет используйте свой номер телефона и сеансовый пароль, для получения которого достаточно отправить любое SMS-сообщение на номер 5533 (стоимость SMS определяется тарифным планом абонента). После успешного входа в личный кабинет Вы можете осуществлять платежи, выбирая услуги для оплаты. Кроме того, Вы можете узнать баланс Вашего счета мобильного телефона, просмотреть историю платежей, при необходимости распечатать чек.
                    p
                        | Исключения составляют номера телефонов, подключенные на корпоративный тариф, тарифный план «Свободный life:)» и абоненты, использующие оплату услуг сотовой связи по факту.
                    p
                        | Комиссия системы iPay составит для абонентов МТС 3%, Life 3,5%. Ссылка на оплату услуги «Академтранс ЦПК — курсы» через систему iPay для абонентов.
                .col-sm-4.col-xs-12.description
                    p
                        | Для осуществления операций в Системе iPay доступна не вся сумма баланса лицевого счета: после списания итоговой суммы операции на вашем счете должно остаться не менее 0,1 белорусских рублей для абонентов МТС и не менее 0,5 белорусских рублей для абонентов life:)
section#requisites
    .container
        .row
            .col-xs-12
                h2.title Реквизиты для оплаты
            .col-sm-9.col-xs-12.requisites
                .row
                    .col-sm-3.col-xs-6.caption
                        h4 Юр. адрес
                    .col-sm-9.col-xs-6.info
                        p 220089, г. Минск, ул. Железнодорожная, д. 33А, к. 404
                .row
                    .col-sm-3.col-xs-6.caption
                        h4 Телефон/факс
                    .col-sm-9.col-xs-6.info
                        p 8 017 366-88-77
                .row
                    .col-sm-3.col-xs-6.caption
                        h4 Директор
                    .col-sm-9.col-xs-6.info
                        p Бурак А. М.
                .row
                    .col-sm-3.col-xs-6.caption
                        h4 УНП
                    .col-sm-9.col-xs-6.info
                        p 190437354
                .row
                    .col-sm-3.col-xs-6.caption
                        h4 Расчетный счет
                    .col-sm-9.col-xs-6.info
                        p 3012 038 003 405
                .row
                    .col-sm-3.col-xs-6.caption
                        h4 БИК
                    .col-sm-9.col-xs-6.info
                        p 153 001 614
                .row
                    .col-sm-3.col-xs-6.caption
                        h4 Банк ф-л
                    .col-sm-9.col-xs-6.info
                        p № 514 ОАО «АСБ Беларусбанк»
            .col-sm-3.col-xs-12.contacts
                .col-sm-12.col-xs-6
                    h4 Телефоны
                    p 8 017 366-88-77
                    p +375 29 652-63-66
                    p +375 44 743-30-67
                .col-sm-12.col-xs-6
                    h4 Работаем
                    p Пн-пт с 9 до 16
section#order
    .container
        .row
            .col-sm-4.col-xs-12
                .col-sm-12.col-xs-6
                    img(src='/assets/img/zajavka.png', alt='')
                .col-sm-12.col-xs-6
                    | {$_modx->runSnippet('FileAttach',[
                    | 'makeUrl' => 'true',
                    | 'showSize' => 'true',
                    | 'tpl' => 'DocItem'])}
            .col-sm-8.col-xs-12.text
                h3 Заявка на обучение
                p
                    | В форме указаны все виды обучения. Удалите лишние строчки и распечатайте на своём фирменном бланке.
                p
                    | Для выставления счета укажите реквизиты, список обучаемых лиц и полное название курса. Отправьте на факс или e-mail.
                p
                    strong Факс
                    |  8 017 366-88-77
                    br
                    | Для отправки факсом текст заявки сделайте достаточно крупным 14 pt, а качество передачи факса — «fine».
                p
                    strong E-mail
                    |  akademtrans@gmail.com
                    br
                    | В письме продублируйте реквизиты и укажите тему «Заявка на обучение». После отправки перезвоните и убедитесь, что письмо принято.



|{/block}