{extends 'file:templates/Base.html'} {block 'content'}
<!-- Section content-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">Способы оплаты</h2>
      </div>
    </div>
    <div class="row payway">
      <div class="col-sm-1 col-xs-3"><img src="/assets/img/erip.jpg" alt=""/></div>
      <div class="col-sm-11 col-xs-12 info-block">
        <div class="col-xs-12">
          <h3>C помощью Системы "Расчет" (ЕРИП)</h3>
        </div>
        <div class="col-sm-8 col-xs-12 info">
          <p>1. Электронными деньгами (Webmoney, Easypay, iPay, BelQI);</p>
          <p>2. Платежной карточкой (интернет-банк, мобильный-банк, инфокиоск, банкомат, касса банка*);</p>
          <p>3. Наличными (устройство cash-in, касса банка*).</p>
          <p class="bold">Для проведения платежа необходимо</p>
          <p>1.Выбрать последовательно пункты:</p>
          <p class="ind-1">Система «Расчет» (ЕРИП)</p>
          <p class="ind-2">г. Минск</p>
          <p class="ind-3">Образование и развитие</p>
          <p class="ind-4">Дополнительное образование и развитие</p>
          <p class="ind-4">Академтранс ЦПК — курсы</p>
          <p>2. Ввести номер договора, ФИО и сумму платежа</p>
          <p>3. Проверить корректность информации</p>
          <p>4. Совершить платеж</p><br/>
          <p>Нахождение услуги в дереве услуг системы «Расчет» (ЕРИП) в некоторых пунктах оплаты может отличаться от описанного выше. В связи с этим, в случае возникновения проблем с поиском услуги, предлагаем выполнить поиск по УНП: 190437354.</p>
        </div>
        <div class="col-sm-4 col-xs-12 description">
          <p>Если Вы осуществляете платеж в кассе банка, пожалуйста, сообщите кассиру о необходимости проведения оплаты услуги «Академтранс ЦПК — курсы» через систему «Расчет» (ЕРИП), сообщите номер договора, ФИО и сумму платежа.</p>
        </div>
      </div>
    </div>
    <div class="row payway">
      <div class="col-sm-1 col-xs-3"><img src="/assets/img/ipai.jpg" alt=""/></div>
      <div class="col-sm-11 col-xs-12 info-block">
        <div class="col-xs-12">
          <h3>iPay — оплата с баланса мобильного телефона</h3>
        </div>
        <div class="col-sm-8 col-xs-12 info">
          <p>Совершить платеж Вы можете из личного кабинета сайта iPay.by. Для входа в личный кабинет используйте свой номер телефона и сеансовый пароль, для получения которого достаточно отправить любое SMS-сообщение на номер 5533 (стоимость SMS определяется тарифным планом абонента). После успешного входа в личный кабинет Вы можете осуществлять платежи, выбирая услуги для оплаты. Кроме того, Вы можете узнать баланс Вашего счета мобильного телефона, просмотреть историю платежей, при необходимости распечатать чек.</p>
          <p>Исключения составляют номера телефонов, подключенные на корпоративный тариф, тарифный план «Свободный life:)» и абоненты, использующие оплату услуг сотовой связи по факту.</p>
          <p>Комиссия системы iPay составит для абонентов МТС 3%, Life 3,5%. Ссылка на оплату услуги «Академтранс ЦПК — курсы» через систему iPay для абонентов.</p>
        </div>
        <div class="col-sm-4 col-xs-12 description">
          <p>Для осуществления операций в Системе iPay доступна не вся сумма баланса лицевого счета: после списания итоговой суммы операции на вашем счете должно остаться не менее 0,1 белорусских рублей для абонентов МТС и не менее 0,5 белорусских рублей для абонентов life:)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="requisites">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">Реквизиты для оплаты</h2>
      </div>
      <div class="col-sm-9 col-xs-12 requisites">
        <div class="row">
          <div class="col-sm-3 col-xs-6 caption">
            <h4>Юр. адрес</h4>
          </div>
          <div class="col-sm-9 col-xs-6 info">
            <p>220089, г. Минск, ул. Железнодорожная, д. 33А, к. 404</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6 caption">
            <h4>Телефон/факс</h4>
          </div>
          <div class="col-sm-9 col-xs-6 info">
            <p>8 017 366-88-77</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6 caption">
            <h4>Директор</h4>
          </div>
          <div class="col-sm-9 col-xs-6 info">
            <p>Бурак А. М.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6 caption">
            <h4>УНП</h4>
          </div>
          <div class="col-sm-9 col-xs-6 info">
            <p>190437354</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6 caption">
            <h4>Расчетный счет</h4>
          </div>
          <div class="col-sm-9 col-xs-6 info">
            <p>3012 038 003 405</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6 caption">
            <h4>БИК</h4>
          </div>
          <div class="col-sm-9 col-xs-6 info">
            <p>153 001 614</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6 caption">
            <h4>Банк ф-л</h4>
          </div>
          <div class="col-sm-9 col-xs-6 info">
            <p>№ 514 ОАО «АСБ Беларусбанк»</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12 contacts">
        <div class="col-sm-12 col-xs-6">
          <h4>Телефоны</h4>
          <p>8 017 366-88-77</p>
          <p>+375 29 652-63-66</p>
          <p>+375 44 743-30-67</p>
        </div>
        <div class="col-sm-12 col-xs-6">
          <h4>Работаем</h4>
          <p>Пн-пт с 9 до 16</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="order">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="col-sm-12 col-xs-6"><img src="/assets/img/zajavka.png" alt=""/></div>
        <div class="col-sm-12 col-xs-6">
          {$_modx->runSnippet('FileAttach',[
          'makeUrl' => 'true',
          'showSize' => 'true',
          'tpl' => 'DocItem'])}
        </div>
      </div>
      <div class="col-sm-8 col-xs-12 text">
        <h3>Заявка на обучение</h3>
        <p>В форме указаны все виды обучения. Удалите лишние строчки и распечатайте на своём фирменном бланке.</p>
        <p>Для выставления счета укажите реквизиты, список обучаемых лиц и полное название курса. Отправьте на факс или e-mail.</p>
        <p><strong>Факс</strong> 8 017 366-88-77<br/>Для отправки факсом текст заявки сделайте достаточно крупным 14 pt, а качество передачи факса — «fine».</p>
        <p><strong>E-mail</strong> akademtrans@gmail.com<br/>В письме продублируйте реквизиты и укажите тему «Заявка на обучение». После отправки перезвоните и убедитесь, что письмо принято.</p>
      </div>
    </div>
  </div>
</section>{/block}