.courses-item(sort='{$idx}')
    .course-form
        a(href="/{$uri}")
            h4
                span {$pagetitle}
        p Ближайший курс в Минске {$_pls['tv.nearDate']}
        a(href!="/{$_modx->makeUrl(5)}")
            span Расписание в других городах
        | {$_modx->runSnippet('!AjaxForm',[
        |                 'snippet' => 'FormIt',
        |                 'form' => '@FILE chunks/main/cursForm.html',
        |                 'hooks' => 'email',
        |                 'emailTo' => $_modx->config.MainEmail,
        |                 'emailCC' => 'messages@axora.by',
        |                 'emailFrom' => 'admin@s9831.h6.modhost.pro',
        |                 'emailSubject' => 'Заявка на запись на курс',
        |                 'emailTpl' => 'SentCursTpl',
        |                 'validate' => 'phone:required',
        |                 'successMessage' => 'Ваше сообщение успешно отправлено!'])}
    .course-price
        h3 {$_pls['tv.MinPrice']}
        ul
            li {$_pls['tv.Course_times']}
            li {$_pls['tv.Course_count']}
            li {$_pls['tv.Course_hours']}
