form.form-1
    input(type='text',name="phone", placeholder='Почта или телефон', required='')
    input(type='text',name="kurs", value!="[[+pagetitle]]", hidden)
    input(type='submit', value='Записаться на курс')
