.callback-form
    h3 или оставьте заявку
    form
        input(type='text',name="phone", placeholder='Почта или телефон', required)
        input(type='submit', value='Отправить')
    p Свяжемся с Вами в течение 30 минут, расскажем все о курсах и ответим на вопросы

